.ipynb_checkpoints
.VSCodeCounter
__pycache__
*.egg-info
.coverage
.vscode
.pylintrc
.env
.*_cache
*_autosummary
coverage
docs/_build
docs/_static
docs/autosummary
docs/Makefile
docs/make.bat
/test-config.toml
test
testing.ipynb
deplicenses.txt
build
